<!DOCTYPE html>
<html lang="en">

    <!-- HEAD -->
    <%- include('./partials/head',{title:"Inicio"}) %>
    <!-- FIN-HEAD --> 
   

</head>
<body>
        <!-- HEADER -->
        <%- include('./partials/header') %>
        <!-- FIN DEL HEADER -->

        
    <!-- MAIN -->
    <main class="home-main">
        <img class="imagen-banner" src="./img/sw-banner.jpeg" alt="banner">
        <div class="main-space">

        </div>
        <div class="ofertas-main">
            <section class="ofertas-section">
                <ul>
                    <i class="fas fa-dollar-sign"></i>
                    <h4 class="h4-main">5% off</h4>
                    <br>
                    <p>Pagando en efectivo o transferencia bancaria</p>
                </ul>
                <ul>
                    <i class="fab fa-whatsapp"></i>
                    <h4 class="h4-main">Hace tu pedido x Whatsapp</h4>
                    <br>
                    <p>Disponible de 9hs a 20hs</p>
                </ul>
                <ul>
                    <i class="fas fa-shopping-cart"></i>
                    <h4 class="h4-main">Envios gratis en Mendoza</h4>
                    <br>
                    <p>En compras superiores a $2000</p>
                </ul>
                <ul>
                    <i class="fas fa-percentage"></i>
                    <h4 class="h4-main">-10% a partir de 6 botellas </h4>
                    <br>
                    <p>Combinables entre vinos y espumantes</p>
                </ul>
        </section>
        </div>

        <h3>Ofertas</h3>

        <section class="articulos">
            <% for (let i = 0; i < ofertas.length; i++){ %>
                <article class="article-main">
                    <a href="/products/detail/<%=ofertas[i].id%>">
                        <img class="img-article" src="./img/imgProduct/<%=ofertas[i].imagenes[0]%>" alt="imagen">
                    </a>
                    <div class="pie-del-articulo">
                        <ul>
                            <p><%=ofertas[i].nombre%></p>
                            <p class="">$<%=ofertas[i].precio%></p>
                        </ul>
                    </div>
                </article>
                
            <% } %>         
        </section>    

        <h3>Productos Importados</h3>

        <section class="articulos">
            <% for (let i = 0; i < importados.length; i++){ %>
                <article class="article-main">
                    <a href="/products/detail/<%=importados[i].id%>">
                        <img class="img-article" src="./img/imgProduct/<%=importados[i].imagenes[0]%>" alt="imagen">
                    </a>                    
                    <div class="pie-del-articulo">
                        <ul>
                            <p><%=importados[i].nombre%></p>
                            <p class="">$<%=importados[i].precio%></p>
                        </ul>
                    </div>
                </article>
            <% } %>   
        </section>

        <h3>Packs para tu bar</h3>

        <section class="articulos">
            <% for (let i = 0; i < packs.length; i++){ %>
                <article class="article-main">
                    <a href="/products/detail/<%=packs[i].id%>">
                        <img class="img-article" src="./img/imgProduct/<%=packs[i].imagenes[0]%>" alt="imagen">
                    </a>
                    <div class="pie-del-articulo">
                        <ul>
                            <p><%=packs[i].nombre%></p>
                            <p class="">$<%=packs[i].precio%></p>
                        </ul>
                    </div>
                </article>
            <% } %> 
        </section>
        
    </main>
    <!----- FIN-MAIN ----->

    <!----- FOOTER ----->
    <%- include('./partials/footer') %>
    <!----- FIN-FOOTER ----->
</body>
</html>