<!DOCTYPE html>
<html lang="en">

    <!-- HEAD -->
    <%- include('./partials/head',{title:"Registro"}) %>
    <!-- FIN-HEAD -->
    
<body class="register-body">
        <!-- HEADER -->
        <%- include('./partials/header') %>
        <!-- FIN DEL HEADER -->

        
    <!----- MAIN ----->
    <main class="register-main">
        <form class="register-form" action="/newUser" method="POST" enctype="multipart/form-data">
            <section class="register-section">
                <h3>Creá tu cuenta</h3>
                <div class="estilo-formulario"> 
                    <label for="nombre"></label>
                    <input type="text" <% if (locals.datosUsuario != undefined) { %>
                        value=<%=locals.datosUsuario.nombre%>
                    <% } %>
                     name="nombre" id="nombre"  placeholder="Nombre" class="estilo-input">
                    <% if (typeof errors != 'undefined') { %>
                        <% for (let i = 0; i < errors.length; i++) { %>
                            <% if (errors[i].param == 'nombre') { %>
                    <div class="errorsAlert"> 
                        <p><%=errors[i].msg %></p>                        
                    </div>
                            <% } %>
                        <% } %>
                    <% } %>
                </div>  
                <div class="estilo-formulario"> 
                    <label for="apellido"></label>
                    <input type="text" <% if (locals.datosUsuario != undefined) { %>
                        value=<%=locals.datosUsuario.apellido%>
                    <% } %>
                    name="apellido" id="apellido" placeholder="Apellido" class="estilo-input">
                    <% if (typeof errors != 'undefined') { %>
                        <% for (let i = 0; i < errors.length; i++) { %>
                            <% if (errors[i].param == 'apellido') { %>
                    <div class="errorsAlert"> 
                        <p><%=errors[i].msg %></p>                        
                    </div>
                            <% } %>
                        <% } %>
                    <% } %>
                </div>

                <div class="estilo-formulario">
                    <label for="email"></label>
                    <input type="email" <% if (locals.datosUsuario != undefined) { %>
                        value=<%=locals.datosUsuario.email%>
                    <% } %>
                    name="email" id="email" placeholder="E-mail" class="estilo-input">
                    <% if (typeof errors != 'undefined') { %>
                        <% for (let i = 0; i < errors.length; i++) { %>
                            <% if (errors[i].param == 'email') { %>
                    <div class="errorsAlert"> 
                        <p><%=errors[i].msg %></p>                        
                    </div>
                            <% } %>
                        <% } %>
                    <% } %>
                </div>

                <div class="estilo-formulario">
                    <label for="contrasenia"></label>
                    <input type="password" <% if (locals.datosUsuario != undefined) { %>
                        value=<%=locals.datosUsuario.contraseña%>
                    <% } %>
                    name="contrasenia" id="contrasenia" placeholder="Contraseña" class="estilo-input">
                    <% if (typeof errors != 'undefined') { %>
                        <% for (let i = 0; i < errors.length; i++) { %>
                            <% if (errors[i].param == 'contrasenia') { %>
                    <div class="errorsAlert"> 
                        <p><%=errors[i].msg %></p>                        
                    </div>
                            <% } %>
                        <% } %>
                    <% } %>
                </div>

                <div class="estilo-formulario">
                    <label for="confContr"></label>
                    <input type="password" name="confContr" id="confContr" placeholder="Confirmar contraseña" class="estilo-input">
                    <% if (typeof errors != 'undefined') { %>
                        <% for (let i = 0; i < errors.length; i++) { %>
                            <% if (errors[i].param == 'confContr') { %>
                    <div class="errorsAlert"> 
                        <p><%=errors[i].msg %></p>                        
                    </div>
                            <% } %>
                        <% } %>
                    <% } %>
                </div>

                <div class="estilo-formulario">
                    <label for="telefono"></label>
                    <input type="text" <% if (locals.datosUsuario != undefined) { %>
                        value=<%=locals.datosUsuario.telefono%>
                    <% } %>
                     name="telefono"  id="telefono" placeholder="Teléfono" class="estilo-input">
                    <% if (typeof errors != 'undefined') { %>
                        <% for (let i = 0; i < errors.length; i++) { %>
                            <% if (errors[i].param == 'telefono') { %>
                    <div class="errorsAlert"> 
                        <p><%=errors[i].msg %></p>                        
                    </div>
                            <% } %>
                        <% } %>
                    <% } %>
                </div>

                <div class="estilo-formulario">
                    <label for="imagen" class="label-formulario">Imágen de Perfil: </label>
                    <input type="file" id="imagen"  name="imagen" class="estilo-input">
                </div>
                </div class="estilo-formulario"> 
                <button class="boton-formularios" type="submit">Registrarse</button>
            </section>
        </form>
    </main>
    <!----- FIN-MAIN ----->

    <!----- FOOTER ----->
    <%- include('./partials/footer') %>
    <!----- FIN-FOOTER ----->
</body>
</html>