<!DOCTYPE html>
<html lang="en">

    <!-- HEAD -->
    <%- include('./partials/head',{title: product.nombre}) %>
    <!-- FIN-HEAD -->
    
<body>
        <!-- HEADER -->
        <%- include('./partials/header') %>
        <!-- FIN DEL HEADER -->

        
    <!----- MAIN ----->
    <main class="mainProductDetail">
        
        <section>
            <article>
                
                <div class="imgDtProd">

                    <img src="/img/<%=product.imagenes[0]%>" alt="<%=product.nombre%>">

                   <div class="imgDtProdMini">
                    <% for (let i = 0 ; i < product.imagenes.length ; i++){ %>
                        <img src="/img/<%=product.imagenes[i]%>" alt="<%=product.nombre%>">

                    <% } %>

                   </div>  

                </div>
                <div class="dtProdInfo"> 
                   <div class="tituloPrecioDtProd">
                      <h1><%=product.nombre %></h1>
                      <h3>$<%=product.precio %></h3>
                   </div>

                    <p><%=product.descripcion %></p>

                    <ul class="infoAdicionalDtProd">
                        <li>Graduación alcohólica: <%=product.porcentajeAlcohol %>% </li>
                        <li>Volumen de la unidad: <%=product.volumen %></li>
                    </ul>
                

                 <div class="dtProductosFormulario">

                    <form action="carritoDeCompras" method="POST">
                       <div>
                           <label for="cantidad"> </label>
                           <input type="number" name="cantidad" id="cantidad" placeholder="Cantidad" min="0" max="100">
                       </div>

                       <div>
                          <label for="carrito"></label>
                          <input type="button" value="Agregar al carrito">
                       </div>
                    </form>

                          <div class="productBotonesElimEdit">
                             <div class="prodDetBotonEditar">
                                  <a href="/products/<%=product.id%>/edit" class="action-button edit">Editar Producto</a>
                               </div>
                               <div>
                                  <a href="#" class="action-button edit"><i class="fas fa-trash-alt"></i></a>
                               </div>
                             </div>
                          </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div><h2>Productos Relacionados</h2></div>

                <div class="dtProdRel">

                   

                    
                            <div class="prodRelArt1">

                               <div class="imgRelArt">

                                 <img src="/img/elementoVino.jpg" alt="Elementos Vino Tinto">

                               </div>

                                <div class="pieRelArti">

                                   <h3>Vino Tinto Elementos </h3>
                                   <p>Malbec 750 Cc</p>

                                </div>
                            </div>

                            <div class="prodRelArt2">

                                <div class="imgRelArt2">

                                <img src="/img/DanteRobinoVino.jpg" alt="Dante Robino Vino Tinto">
   
                                </div>
   
                                <div class="pieRelArti">
   
                                 <h3>Vino tinto Dante Robino</h3>
                                 <p>Malbec 750 Cc</p>
                                </div>

                            </div>

                            <div class="prodRelArt3">
                                <div class="imgRelArt3">

                                 <img src="/img/CafayateVino.jpg" alt="Cafayate Etchart Vino Tinto">
   
                                </div>
   
                                <div class="pieRelArti">
   
                                  <h3>Vino tinto Cafayate Reserve bodega Etchart</h3>
                                  <p>Malbec 750 Cc</p>
   
                                </div>

                            </div>    

                            <div class="prodRelArt3">
                                <div class="imgRelArt4">

                                 <img src="/img/ArnaldoBVino.jpg" alt="Arnaldo B. Gran Reserva Vino Tinto">
   
                                </div>
   
                                <div class="pieRelArti">
   
                                  <h3>Vino Tinto Arnaldo B. Grand Reserve Bodega Etchart </h3>
                                  <p>Malbec 750 Cc</p>
   
                                </div>

                    </div>
                </div>
            </article>
        </section>

    </main>
    <!----- FIN-MAIN ----->

    <!----- FOOTER ----->
    <%- include('./partials/footer') %>
    <!----- FIN-FOOTER ----->
</body>
</html>