<!DOCTYPE html>
<html lang="en">

    <!-- HEAD -->
    <%- include('./partials/head',{title:"Editando Perfil"}) %>
    <!-- FIN-HEAD -->
    
<body class="register-body">
        <!-- HEADER -->
        <%- include('./partials/header') %>
        <!-- FIN DEL HEADER -->

        
    <!----- MAIN ----->
    <main class="register-main">
        <form class="register-form" action="/user/<%=userToEdit.id%>/edit?_method=PUT" method="POST" enctype="multipart/form-data">
            <section class="register-section">
                <div class="formulario-titulo">
                    <h2 class="formulario-titulo"> <%= userToEdit.nombre %> estás editando tu perfil</i></h2>
                </div>
                <div class="estilo-formulario"> 
                    <label for="nombre">Nombre:</label>
                    <input type="text" value="<%= userToEdit.nombre %>"name="nombre" id="nombre"  placeholder="Nombre" class="estilo-input">
                    <% if (typeof errors != 'undefined') { %>
                        <% for (let i = 0; i < errors.length; i++) { %>
                            <% if (errors[i].param == 'nombre') { %>
                    <div class="errorsAlert"> 
                        <p><%=errors[i].msg %></p>                        
                    </div>
                            <% } %>
                        <% } %>
                    <% } %>
                </div>  
                <div class="estilo-formulario"> 
                    <label for="apellido">Apellido:</label>
                    <input type="text" value="<%= userToEdit.apellido %>" name="apellido" id="apellido" placeholder="Apellido" class="estilo-input">
                    <% if (typeof errors != 'undefined') { %>
                        <% for (let i = 0; i < errors.length; i++) { %>
                            <% if (errors[i].param == 'apellido') { %>
                    <div class="errorsAlert"> 
                        <p><%=errors[i].msg %></p>                        
                    </div>
                            <% } %>
                        <% } %>
                    <% } %>
                </div>

                <div class="estilo-formulario">
                    <label for="email">Email:</label>
                    <input type="email" value="<%= userToEdit.email %>"name="email" id="email" placeholder="E-mail" class="estilo-input">
                    <% if (typeof errors != 'undefined') { %>
                        <% for (let i = 0; i < errors.length; i++) { %>
                            <% if (errors[i].param == 'email') { %>
                    <div class="errorsAlert"> 
                        <p><%=errors[i].msg %></p>                        
                    </div>
                            <% } %>
                        <% } %>
                    <% } %>
                </div>

                <div class="estilo-formulario">
                    <label for="contrasenia">Nueva Contraseña:</label>
                    <input type="password" name="contrasenia" id="contrasenia" placeholder="Contraseña" class="estilo-input">
                    <% if (typeof errors != 'undefined') { %>
                        <% for (let i = 0; i < errors.length; i++) { %>
                            <% if (errors[i].param == 'contrasenia') { %>
                    <div class="errorsAlert"> 
                        <p><%=errors[i].msg %></p>                        
                    </div>
                            <% } %>
                        <% } %>
                    <% } %>
                </div>

                <div class="estilo-formulario">
                    <label for="confContr">Confirmar Contraseña</label>
                    <input type="password" name="confContr" id="confContr" placeholder="Confirmar contraseña" class="estilo-input">
                    <% if (typeof errors != 'undefined') { %>
                        <% for (let i = 0; i < errors.length; i++) { %>
                            <% if (errors[i].param == 'confContr') { %>
                    <div class="errorsAlert"> 
                        <p><%=errors[i].msg %></p>                        
                    </div>
                            <% } %>
                        <% } %>
                    <% } %>
                </div>

                <div class="estilo-formulario">
                    <label for="telefono">Teléfono:</label>
                    <input type="text" value="<%= userToEdit.telefono %>"name="telefono"  id="telefono" placeholder="Teléfono" class="estilo-input">
                    <% if (typeof errors != 'undefined') { %>
                        <% for (let i = 0; i < errors.length; i++) { %>
                            <% if (errors[i].param == 'telefono') { %>
                    <div class="errorsAlert"> 
                        <p><%=errors[i].msg %></p>                        
                    </div>
                            <% } %>
                        <% } %>
                    <% } %>
                </div>
                <div class="imgProfUser">

                    <img src="/img/imgUsers/<%=userToEdit.imagen_id%>" alt="Imagen de perfil de: <%=userToEdit.nombre%>">
       
                </div>

                <div class="estilo-formulario">
                    <label for="imagen" class="label-formulario">Nueva Imágen de Perfil: </label>
                    <input type="file" id="imagen"  name="imagen" class="estilo-input">
                </div>
                </div class="estilo-formulario"> 
                <button class="boton-formularios" type="submit">Finalizar Edición</button>
            </section>
        </form>
    </main>
    <!----- FIN-MAIN ----->

    <!----- FOOTER ----->
    <%- include('./partials/footer') %>
    <!----- FIN-FOOTER ----->
</body>
</html>