<!DOCTYPE html>
<html lang="en">

    <!-- HEAD -->
    <%- include('./partials/head',{title: user.nombre}) %>
    <!-- FIN-HEAD -->
    
<body>
        <!-- HEADER -->
        <%- include('./partials/header') %>
        <!-- FIN DEL HEADER -->

        
    <!----- MAIN ----->
    <main class="mainProfUser">

        <div class="profUserTitulo"></div>
        <%if(user.genero == "Masculino"){%>
        <h1>Bienvenido: <%=user.nombre%></h1>
        <%}else if(user.genero == "Femenino"){%>
            <h1>Bienvenida: <%=user.nombre%></h1>
            <%}else{%>
                <h1>Bienvenidx: <%=user.nombre%></h1>
                <%}%>


                <div class="imgProfUser">

                    <img src="/img/imgUsers/<%=user.imagen%>" alt="Imagen de perfil de: <%=user.nombre%>">
       
                </div>
    <div class="datosProfUser">
        <h3>Datos de cuenta</h3>

        <ul>
            <li>Usuario: <%=user.usuario%></li>
            <li>E-mail: <%=user.email%></li>
        </ul>

        <h3>Datos Personales</h3>
        <ul>
            <li>Nombre y apellido: <%=user.nombre + user.apellido%></li>
            <li>Teléfono: <%=user.telefono%></li>
            <li>Género: <%=user.genero%></li>
        </ul>
           

        <div class="profUserButton">
           
              <form action="/user/<%= user.id%>?_method=DELETE" method="POST" >
               <button type="submit" class="action-button edit">Eliminar Cuenta</i></button>
              
               </form>
            </div>
         </div>

    </div>        

    </main>
    <!----- FIN-MAIN ----->

    <!----- FOOTER ----->
    <%- include('./partials/footer') %>
    <!----- FIN-FOOTER ----->
</body>
</html>