<!DOCTYPE html>
<html lang="en">

    <!-- HEAD -->
    <%- include('./partials/head',{title:"Inicio"}) %>
    <!-- FIN-HEAD --> 
   

</head>
<body>
        <!-- HEADER -->
        <%- include('./partials/header') %>
        <!-- FIN DEL HEADER -->

        
    <!-- MAIN -->
    <main class="home-main">
        <img class="imagen-banner" src="./img/sw-banner.jpeg" alt="banner">
        <div class="main-space">

        </div>
        <div class="ofertas-main">
            <section class="ofertas-section">
                <ul>
                    <i class="fas fa-dollar-sign"></i>
                    <h4 class="h4-main">5% off</h4>
                    <br>
                    <p>Pagando en efectivo o transferencia bancaria</p>
                </ul>
                <ul>
                    <i class="fab fa-whatsapp"></i>
                    <h4 class="h4-main">Hace tu pedido x Whatsapp</h4>
                    <br>
                    <p>Disponible de 9hs a 20hs</p>
                </ul>
                <ul>
                    <i class="fas fa-shopping-cart"></i>
                    <h4 class="h4-main">Envios gratis en Mendoza</h4>
                    <br>
                    <p>En compras superiores a $2000</p>
                </ul>
                <ul>
                    <i class="fas fa-percentage"></i>
                    <h4 class="h4-main">-10% a partir de 6 botellas </h4>
                    <br>
                    <p>Combinables entre vinos y espumantes</p>
                </ul>
        </section>
        </div>

        <h3>Productos en oferta</h3>

        <section class="articulos">

            <div class="container my-4">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="row">
                        <% for (let j = 0; j < 4; j++){ %>
                            <% if (j == 0){ %>
                      <div class="col-md-3">
                        <a class="text-decoration-none" href="/products/detail/<%=ofertas[j].id%>">
                        <div class="card mb-2 article-main">
                          <img class="img-article-home" src="./img/imgProduct/<%=ofertas[j].images[0].nombre%>" alt="Card image cap">
                          <div class="card-body pie-del-articulo">
                            <h4 class="card-title pie-del-articulo-nombre"><%=ofertas[j].nombre%> <%=ofertas[j].volumen%></h4>
                            <p class="card-text pie-del-articulo-precio"><strike>$<%=ofertas[j].precio%></strike> $<%=ofertas[j].precio * (1- (ofertas[j].descuento / 100) )%></p>
                          </div>
                        </div>
                        </a>
                      </div>
                      <% } else { %>
                      <div class="col-md-3 clearfix d-none d-md-block">
                        <a class="text-decoration-none" href="/products/detail/<%=ofertas[j].id%>">
                        <div class="card mb-2 article-main">
                          <img class="img-article-home" src="./img/imgProduct/<%=ofertas[j].images[0].nombre%>" alt="Card image cap">
                          <div class="card-body pie-del-articulo">
                            <h4 class="card-title pie-del-articulo-nombre"><%=ofertas[j].nombre%> <%=ofertas[j].volumen%></h4>
                            <p class="card-text pie-del-articulo-precio"><strike>$<%=ofertas[j].precio%></strike> $<%=ofertas[j].precio * (1- (ofertas[j].descuento / 100) )%></p>
                          </div>
                        </div>
                        </a>
                      </div>
                      <% } %>
                    <% } %>
                    </div>
                    </div>
  
                    <div class="carousel-item">
                      <div class="row">
                        <% for (let j = 4; j < ofertas.length; j++){ %>
                            <% if (j == 0){ %>
                      <div class="col-md-3">
                        <a class="text-decoration-none" href="/products/detail/<%=ofertas[j].id%>">
                        <div class="card mb-2 article-main">
                          <img class="img-article-home" src="./img/imgProduct/<%=ofertas[j].images[0].nombre%>"
                               alt="Card image cap">
                          <div class="card-body pie-del-articulo">
                            <h4 class="card-title pie-del-articulo-nombre"><%=ofertas[j].nombre%> <%=ofertas[j].volumen%></h4>
                            <p class="card-text pie-del-articulo-precio"><strike>$<%=ofertas[j].precio%></strike> $<%=ofertas[j].precio * (1- (ofertas[j].descuento / 100) )%></p>
                          </div>
                        </div>
                        </a>
                      </div>
            
                      <% } else { %>
                      <div class="col-md-3 clearfix d-none d-md-block">
                        <a class="text-decoration-none" href="/products/detail/<%=ofertas[j].id%>">
                          <div class="card mb-2 article-main">
                            <img class="img-article-home" src="./img/imgProduct/<%=ofertas[j].images[0].nombre%>"
                                 alt="Card image cap">
                            <div class="card-body pie-del-articulo">
                              <h4 class="card-title pie-del-articulo-nombre"><%=ofertas[j].nombre%> <%=ofertas[j].volumen%></h4>
                              <p class="card-text pie-del-articulo-precio"><strike>$<%=ofertas[j].precio%></strike> $<%=ofertas[j].precio * (1- (ofertas[j].descuento / 100) )%></p>
                            </div>
                          </div>
                          </a>
                      </div>
                      <% } %>
                    <% } %>
                    </div>
                    </div>
  
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                </div>
            <!-- <% for (let i = 0; i < ofertas.length; i++){ %>
                <article class="article-main">
                    <a href="/products/detail/<%=ofertas[i].id%>">
                        <img class="img-article" src="./img/imgProduct/<%=ofertas[i].images[0].nombre%>" alt="imagen">
                    </a>
                    <div class="pie-del-articulo">
                        <ul>
                            <p class="pie-del-articulo-nombre"><%=ofertas[i].nombre%> <%=ofertas[i].volumen%></p>
                            <p class="pie-del-articulo-precio"><strike>$<%=ofertas[i].precio%></strike> $<%=ofertas[i].precio * (1- (ofertas[i].descuento / 100) )%></p>
                        </ul>
                    </div>
                </article>
                
            <% } %>          -->
        </section>    

        <h3>Productos Importados</h3>

        <section class="articulos">

            <div class="container my-4">
                <div id="carouselImportados" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselImportados" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselImportados" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselImportados" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="row">
                        <% for (let j = 0; j < 4; j++){ %>
                            <% if (j == 0){ %>
                      <div class="col-md-3">
                        <a class="text-decoration-none" href="/products/detail/<%=importados[j].id%>">
                        <div class="card mb-2 article-main">
                          <img class="img-article-home" src="./img/imgProduct/<%=importados[j].images[0].nombre%>" alt="Card image cap">
                          <div class="card-body pie-del-articulo">
                            <h4 class="card-title pie-del-articulo-nombre"><%=importados[j].nombre%> <%=importados[j].volumen%></h4>
                            <p class="card-text pie-del-articulo-precio"><strike>$<%=importados[j].precio%></strike> $<%=importados[j].precio * (1- (importados[j].descuento / 100) )%></p>
                          </div>
                        </div>
                        </a>
                      </div>
                      <% } else { %>
                      <div class="col-md-3 clearfix d-none d-md-block">
                        <a class="text-decoration-none" href="/products/detail/<%=importados[j].id%>">
                        <div class="card mb-2 article-main">
                          <img class="img-article-home" src="./img/imgProduct/<%=importados[j].images[0].nombre%>" alt="Card image cap">
                          <div class="card-body pie-del-articulo">
                            <h4 class="card-title pie-del-articulo-nombre"><%=importados[j].nombre%> <%=importados[j].volumen%></h4>
                            <p class="card-text pie-del-articulo-precio"><strike>$<%=importados[j].precio%></strike> $<%=importados[j].precio * (1- (importados[j].descuento / 100) )%></p>
                          </div>
                        </div>
                        </a>
                      </div>
                      <% } %>
                    <% } %>
                    </div>
                    </div>
  
                    <div class="carousel-item">
                      <div class="row">
                        <% for (let j = 4; j < importados.length; j++){ %>
                            <% if (j == 0){ %>
                      <div class="col-md-3">
                        <a class="text-decoration-none" href="/products/detail/<%=importados[j].id%>">
                        <div class="card mb-2 article-main">
                          <img class="img-article-home" src="./img/imgProduct/<%=importados[j].images[0].nombre%>"
                               alt="Card image cap">
                          <div class="card-body pie-del-articulo">
                            <h4 class="card-title pie-del-articulo-nombre"><%=importados[j].nombre%> <%=importados[j].volumen%></h4>
                            <p class="card-text pie-del-articulo-precio"><strike>$<%=importados[j].precio%></strike> $<%=importados[j].precio * (1- (importados[j].descuento / 100) )%></p>
                          </div>
                        </div>
                        </a>
                      </div>
            
                      <% } else { %>
                      <div class="col-md-3 clearfix d-none d-md-block">
                        <a class="text-decoration-none" href="/products/detail/<%=importados[j].id%>">
                          <div class="card mb-2 article-main">
                            <img class="img-article-home" src="./img/imgProduct/<%=importados[j].images[0].nombre%>"
                                 alt="Card image cap">
                            <div class="card-body pie-del-articulo">
                              <h4 class="card-title pie-del-articulo-nombre"><%=importados[j].nombre%> <%=importados[j].volumen%></h4>
                              <p class="card-text pie-del-articulo-precio"><strike>$<%=importados[j].precio%></strike> $<%=importados[j].precio * (1- (importados[j].descuento / 100) )%></p>
                            </div>
                          </div>
                          </a>
                      </div>
                      <% } %>
                    <% } %>
                    </div>
                    </div>
  
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselImportados" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselImportados" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                </div>
            <!-- <% for (let i = 0; i < importados.length; i++){ %>
                <article class="article-main">
                    <a href="/products/detail/<%=importados[i].id%>">
                        <img class="img-article" src="./img/imgProduct/<%=importados[i].images[0].nombre%>" alt="imagen">
                    </a>                    
                    <div class="pie-del-articulo">
                        <ul>
                            <p class="pie-del-articulo-nombre"><%=importados[i].nombre%> <%=importados[i].volumen%></p>
                            <p class="pie-del-articulo-precio">$<%=importados[i].precio%></p>
                        </ul>
                    </div>
                </article>
            <% } %>    -->
        </section>

        <h3>Packs para tu bar</h3>

        <section class="articulos">
            <% for (let i = 0; i < packs.length; i++){ %>
                <article class="article-main">
                    <a href="/products/detail/<%=packs[i].id%>">
                        <img class="img-article" src="./img/imgProduct/<%=packs[i].images[0].nombre%>" alt="imagen">
                    </a>
                    <div class="pie-del-articulo">
                        <ul>
                            <p class="pie-del-articulo-nombre"><%=packs[i].nombre%> <%=packs[i].volumen%></p>
                            <p class="pie-del-articulo-precio">$<%=packs[i].precio%></p>
                        </ul>
                    </div>
                </article>
            <% } %> 
        </section>
        
    </main>
    <!----- FIN-MAIN ----->

    <!----- FOOTER ----->
    <%- include('./partials/footer') %>
    <!----- FIN-FOOTER ----->
</body>
</html>