<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('./partials/head',{title: product.nombre}) %>
<!-- FIN-HEAD -->

<body>
  <!-- HEADER -->
  <%- include('./partials/header') %>
  <!-- FIN DEL HEADER -->

  <!----- MAIN ----->
  <main class="mainProductDetail">
    <section>
      <article class="productDetailBigBox">
        <div class="imgDtProd">
            <div class="imgDtProdMiniLaptop">
                <% for (let i = 0 ; i < product.images.length ; i++){ %>
                <img src="/img/imgProduct/<%=product.images[i].nombre%>" alt="<%=product.nombre%>" />
    
                <% } %>
              </div>
          <img  class="imgPrincipal" src="/img/imgProduct/<%=product.images[0].nombre%>" alt="<%=product.nombre%>" />

          <div class="imgDtProdMiniMobile">
            <% for (let i = 0 ; i < product.images.length ; i++){ %>
            <img src="/img/imgProduct/<%=product.images[i].nombre%>" alt="<%=product.nombre%>" />

            <% } %>
          </div>
        </div>

        <div class="dtProdInfo">
          <div class="tituloPrecioDtProd">
            <h1><%=product.nombre %></h1>
            <h3>$<%=product.precio %></h3>
          </div>

          <p class="parrafoMobile"><%=product.descripcion %></p>

          <ul class="infoAdicionalDtProd">
            <li>Graduación alcohólica: <%=product.porcentajeAlcohol %>%</li>
            <li>Volumen de la unidad: <%=product.volumen %></li>
          </ul>

          

          <div class="dtProductosFormulario">
            <form action="carritoDeCompras" method="POST">
              <div>
                <label for="cantidad"> </label>
                <input type="number" name="cantidad" id="cantidad" placeholder="Cantidad" min="0" max="100" />
              </div>

              <div>
                <label for="carrito"></label>
                <input type="button" value="Agregar al carrito" />
              </div>
            </form>
            <% if (user != undefined) { if (user.usersAuthData.admin == true)
              {%>
            <div class="productBotonesElimEdit">
              <div class="prodDetBotonEditar">
                <a href="/products/<%=product.id%>/edit" class="action-button edit">Editar Producto</a>
              </div>

              <!-- Botón Eliminar -->
              <form action="/products/detail/<%= product.id%>?_method=DELETE" method="POST">
                <button type="submit" class="action-button edit">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </form>
            </div>
          </div>

          <%} } %>
        </div>
        
      </article>
      <div  class="parrafoLaptop">
            <p><%=product.descripcion %></p>
      </div>
    </section>

    <section class="sectionSlider">
      <div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img src="/img/imgProduct/Quilmes_Logo.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/img/imgProduct/Cynar_Logo.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/img/imgProduct/logo-Gancia.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/img/imgProduct/logo-JackDaniels.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/img/imgProduct/Logo-FernetBranca.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/img/imgProduct/Campari-Logo.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/img/imgProduct/Heineken-Logo.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/img/imgProduct/Quilmes_Logo.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/img/imgProduct/Cynar_Logo.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/img/imgProduct/logo-Gancia.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/img/imgProduct/logo-JackDaniels.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/img/imgProduct/Logo-FernetBranca.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/img/imgProduct/Campari-Logo.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/img/imgProduct/Heineken-Logo.png" height="100" width="250" alt="" />
		</div>
	</div>
</div>
    </section>
  </main>
  <!----- FIN-MAIN ----->

  <!----- FOOTER ----->
  <%- include('./partials/footer') %>
  <!----- FIN-FOOTER ----->
</body>

</html>